# devnote_business_api.model.ValidationResult

## Load the model package
```dart
import 'package:devnote_business_api/api.dart';
```

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**ruleId** | **String** |  | [optional] 
**ruleName** | **String** |  | [optional] 
**passed** | **bool** |  | [optional] 
**message** | **String** |  | [optional] 
**severity** | **String** |  | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


